/* Custom Fonts

Main
font-family: 'Montserrat', sans-serif;

Body
font-family: 'Open Sans', sans-serif; 

*/

/* Variables */

:root {
  --colorAccentBright: rgb(237, 142, 0);
  --colorAccentMid: rgb(158, 95, 0);
  --colorDark: rgba(28, 35, 41, 1);
  --colorMain: #fff;
}

/* Base Styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
  line-height: 150%;
  letter-spacing: 0.01rem;
  color: #fff;
}

h1 {
  font-size: 1.35rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 180%;
  color: #fff;
  margin-bottom: 1.75rem;
}

body {
  background: url('./assets/bg-mobile2.jpg'),
    linear-gradient(45deg, rgba(12, 34, 43, 1) 40%, rgba(12, 24, 68, 0.6) 100%);
  background-blend-mode: multiply, normal;
}

body,
#panelAngled {
  background-size: cover;
  background-attachment: fixed;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vw;
  padding-bottom: 2rem;
}

header img {
  width: 70vw;
  filter: drop-shadow(-3px 5px 5px rgba(0, 0, 0, 0.9));
}

#panelAngled {
  position: absolute;
  content: '';
  width: 100vw;
  height: 100vw;
  top: 0;
  clip-path: polygon(0 0%, 100% 0%, 100% 10%, 0% 60%);
  background: url('./assets/bg-mobile2.jpg'), rgba(42, 108, 128, 0.85);
  background-blend-mode: soft-light, normal;
  z-index: -1;
}

#panelAngled2 {
  position: absolute;
  content: '';
  width: 100vw;
  height: 100vw;
  top: 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 65%);
  background: url('./assets/bg-mobile2.jpg'), rgba(23, 56, 66, 0.85);
  background-blend-mode: soft-light, normal;
  z-index: -2;
}
#panelAngled3 {
  position: absolute;
  content: '';
  width: 100vw;
  height: 100vw;
  top: 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 15%);
  background-color: #fff;
  z-index: -1;
}

section {
  padding: 0 2rem;
}

/* nav styles */

#menuToggle {
  display: none;
}

#menuButton {
  z-index: 100;
  position: fixed;
  height: 20vh;
  width: 18vw;
  bottom: 0;
  right: 0;
  clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%);
  background-color: #fff;
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  filter: drop-shadow(-10px -10px 10px rgba(0, 0, 0, 1));
  cursor: pointer;
  transform-origin: bottom right;
  transition: transform 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#menuButton:active {
  transform: scale(0.95);
  filter: drop-shadow(-3px 5px 5px rgba(0, 0, 0, 0.9));
}

#menuButton i {
  color: var(--colorAccentBright);
  font-size: 1.85rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}

#mainNav {
  background-color: dodgerblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 100%;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 65%, 100% 50%, 100% 100%, 0% 100%);
  -webkit-background-clip: polygon(0% 65%, 100% 50%, 100% 100%, 0% 100%);
  padding-bottom: 5vh;
  transition: top 0.35s cubic-bezier(1, 0, 0, 1);
}

#menuToggle:checked ~ #mainNav {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: dodgerblue;
}

#mainNav a {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
  font-style: italic;
  padding: 0.35rem;
  z-index: 50;
}
