/* Variables */

:root {
  --colorAccentLight: rgba(184, 46, 18, 1);
  --colorAccentDark: rgba(107, 32, 16, 1);
  --colorMainLight: rgba(10, 155, 184, 1);
  --colorMainDark: rgba(4, 63, 74, 1);
  --boxShadowMain: drop-shadow(-1px 1px 0.5px rgba(0, 0, 0, 0.35));
  --boxShadowHover: drop-shadow(-1px 2px 2.5px rgba(0, 0, 0, 0.35));
  --borderRadius: 5px;
}

/* Base styles */

.shadow {
  -webkit-filter: drop-shadow(-1px 1px 0.5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(-1px 1px 0.5px rgba(0, 0, 0, 0.2));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  letter-spacing: 0.05;
}

h1 {
  font-size: 1.3rem;
  line-height: 1.9rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: var(--colorAccentLight);
}

h2 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 600;
  font-style: italic;
  color: var(--colorMainDark);
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.6rem;
}

.textLarge {
  font-size: 1.1rem;
  line-height: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: var(--colorMainDark);
}

a:hover {
  border-bottom: 1px dotted var(--colorMainLight);
}

ul {
  margin-left: 1.5rem;
}

ul a {
  color: inherit;
}

.textSmall,
ul,
input,
textarea {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--colorMainDark);
}

input,
textarea {
  border: 1px solid var(--colorMainDark);
  border-radius: var(--borderRadius);
  padding: 0.25rem;
}

.btnLight,
.btnDark {
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  border-radius: var(--borderRadius);
  padding: 0.5rem 1.45rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  transition: transform 5s ease-in-out;
  cursor: pointer;
  align-self: center;
}

.btnLight {
  color: black;
  background-color: white;
}

.btnDark {
  color: white;
  background-color: var(--colorAccentLight);
}

.btnLight:hover,
.btnDark:hover {
  transform: scale(1.05);
  transform: translatey(1px);
  border: none;
}

/* header styles */

header {
  background: linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0) 32.67%),
    linear-gradient(142.8deg, #0a9bb8 0%, #ffe098 100.32%),
    radial-gradient(
      50% 75% at 50% 65%,
      #ffffff 20%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(assets/bgStudio.jpg), #ffffff;
  background-size: cover;
  background-blend-mode: normal, color, normal, normal, normal;
}

/* Header Styles */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8vh 18vw 0vh;
}

header > a {
  border: none;
}
header > a:hover {
  border: none;
}
.logo {
  width: 100%;
  height: auto;
}

/* Main Nav */

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-top: 2.75vh solid var(--colorAccentLight);
}

#menu {
  display: none;
}

.menuToggle {
  position: fixed;
  width: 12.5vw;
  border-radius: var(--borderRadius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 10;
  cursor: pointer;
  transform-origin: 0% 0%;
  transition: transform 100ms ease-in-out;
}

.menuToggle:active {
  transform: scale(0.95);
}

.menuMain {
  z-index: 5;
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(4, 63, 74, 1);
  border-bottom: 3px solid #032930;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 1rem;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.2);
  transform: translatex(-100vw);
  transition: transform 0.15s cubic-bezier(0.47, 0, 0.745, 0.715);
  /* display: none; */
}

#menu:checked ~ .menuMain {
  transform: translatex(0vw);
}

.menuMain a {
  color: white;
  font-size: 1.6rem;
  margin: 0.5rem;
}
/* Main Styles */

.sectionLight,
.sectionDark {
  padding: 2rem 2.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sectionDark {
  background-color: var(--colorMainDark);
}

.sectionDark > h1,
.sectionDark > ul {
  color: white;
}

li {
  padding-left: 3rem;
  list-style: none;
  background-repeat: no-repeat;
  background-position: top left;
  margin-bottom: 1rem;
}

.listServices li:nth-of-type(1) {
  background-image: url(./assets/icnCloud.svg);
}

.listServices li:nth-of-type(2) {
  background-image: url(./assets/icnCompass.svg);
}

.listServices li:nth-of-type(3) {
  background-image: url(./assets/icnGear.svg);
}

form {
  width: 60vw;
  min-width: 300px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

input,
textarea {
  width: 100%;
  margin-bottom: 1rem;
}

.listContact li:nth-of-type(1) {
  background-image: url(./assets/icnPhone.svg);
}

.listContact li:nth-of-type(2) {
  background-image: url(./assets/icnEmail.svg);
}

.listContact li:nth-of-type(3) {
  background-image: url(./assets/icnTwitter.svg);
}

/* Footer styles */

footer {
  background-color: var(--colorMainDark);
  color: rgba(255, 255, 255, 0.3);
  font-size: 0.9rem;
}

.menuFooter {
  margin-top: 1rem;
  font-weight: 500;
}

footer a {
  color: rgba(255, 255, 255, 0.3);
  border-bottom: 1px dotted;
  display: block;
  margin-bottom: 0.5rem;
}
